* {
    font-family: 'Cabin', sans-serif;
}

nav {
    background-color: #373A3C;
}

.barraRoja {
    background-color: #DC3545;
    color: #FFFFFF;
}

footer {
    background-color: #373A3C;
    color: #FFFFFF;
}

.ricomidatext {
    font-family: 'Lobster', cursive;
}